<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf/org">
<head>
    <title>Beranda</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <!--<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    &lt;!&ndash; jquery, ajax, and bootstrap.js &ndash;&gt;
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>-->

</head>

<body>
    <nav th:replace="fragments/fragment :: navbar (brand='SIBAT')"></nav>
    <br>
    <h2>Selamat Datang di Sistem Informasi Obat!!</h2>
    <button class="btn btn-primary">
        <a th:href="@{/obat/daftar-obat}" style="color: white">Daftar Obat</a>
    </button>

    <br><br>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Cari obat berdasarkan nomor registrasi :</div>
                <div class="card-body">
                    <form th:action="@{/}" method="GET">
                        <!--<label for="idRestoran">Id Restoran</label>-->
                        <!--<input type="text" name="idRestoran" class="form-control"/>-->
                        <input type="text" name="" class="form-control"/>
                        <br>
                        <button class="btn btn-primary" type="submit">Cari</button>
                    </form>
                </div>
                <div class="card-header">Cari obat kadaluarsa</div>
                <div class="card-body">
                    <button class="btn btn-primary" type="submit">Cari</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>