<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SIBAT</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar (brand= 'Daftar Obat')"></nav>
    <h2 style="text-align: center; margin-top: 20px">Sistem Informasi Obat</h2>
    <br>
    <div class="container">
        <table class="table">
            <tr>
                <th scope="col">Gudang</th>
                <td>
                    <form  th:action="@{/gudang/expired-obat}" method="GET">
                        <select class="form-control" id="idGudang" th:objects="${gudangObat}"  name="idGudang">
                            <option value="0">--Pilih Gudang--</option>
                            <option th:each="gd, iterationStatus : ${allGudang}" th:value="${gd.getIdGudang()}" th:text="${gd.getNama()}" ></option>
                        </select>
                        <input class="btn-dark" type="submit" >
                    </form>
                </td>
            </tr>
        </table>
        <br><br>
        <table class="table">
            <thead class="bg-light" style="color: black">
            <div class="container bg-dark">
                <h4 class="bg-dark" style="color: white">Daftar Obat Expired</h4>
            </div>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Kode</th>
                <th scope="col">Nama</th>
                <th scope="col">Harga</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="obat, iterationStatus : *{listObat}">
                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${obat.getKode()}"></td>
                <td th:text="${obat.getNama()}"></td>
                <td th:text="${obat.getHarga()}"></td>
            </tr>
            </tbody>
        </table>
        <br>
        </table>
    </div>
</body>
</html>